%footer.footer
  .container
    .row
      .col-md-8.col-md-offset-1.col-sm-10.col-xs-6
        Copyright © 2017
        %span.hidden-xs
          \-
          CI Central de Intercâmbio Viagens Ltda - Central de Operações: CNPJ 59.164.996/0003-85
          Av Dr Yojiro Takaoka, 4384 - CEP 06541-038 - Santana do Parnaíba - SP
      .col-md-2.col-sm-2.col-xs-6.created-by
        Desenvolvido por
        %br
        %a{:href => "https://www.linkedin.com/in/bruno-bispo"} Bruno Bispo
