%header.header
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.brand
          %a{:href => "https://www.ci.com.br"} CI Intercâmbio e Viagem
        %p.brand-text.hidden-xs
          Intercâmbio e Viagem

        .share-buttons
          .message.hidden-xs Compartilhar
          %a#facebook.fa.fa-facebook{"data-img" => "", :href => "https://www.facebook.com/sharer/sharer.php?u=#{root_url}", :rel => "nofollow", :target => "_blank"}
          %a#twitter.fa.fa-twitter{:href => "https://twitter.com/intent/tweet?url=#{root_url}", :rel => "nofollow", :target => "_blank"}
          %a.fa.fa-envelope{:href => "https://www.ci.com.br/recomendacao/create?mensagem=#{root_url}", :rel => "nofollow"}
