#headerwrap
  .container
    .row
      .col-lg-8.col-lg-offset-2.himg
        %h1
          = t 'trackings.deregister.title'
          %span= t 'trackings.deregister.subtitle'
  %footer
    = t 'contact_me'
    = link_to 'me@brunobispo.com', 'mailto:me@brunobispo.com'