%main.main.container
  .row
    .col-lg-10.col-lg-offset-1
      %h1
        = t 'trackings.new.title'
        %span= t 'trackings.new.subtitle'
  .row
    = render 'form'


:javascript
  var sbcats = #{Sbcat.all.group_by(&:cat_id).to_json};
  $(document).on('change', '#tracking_cat_id', function(e){
    var catId = $('#tracking_cat_id').val();
    $('#tracking_sbcat_id').html('').prop('disabled', !catId);
    $('#tracking_sbcat_id').append($('<option>'));
    $.each(sbcats[catId], function(i, item){
      $('#tracking_sbcat_id').append($('<option>').val(item.id).text(item.name));
    });
  });

  $(document).on('change', '#tracking_cat_id, #tracking_sbcat_id, #tracking_typ_id', function(){
    $.ajax('/trackings/preview', {data: $('#new_tracking').serialize(), dataType: 'jsonp'})
  })
