#headerwrap
  .container
    .row
      .col-lg-8.col-lg-offset-2
        %h3 Show your work with this beautiful theme
        %h1 Eyecatching Bootstrap 3 Theme.
        %h5 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        %h5 More Lorem Ipsum added here too.
      .col-lg-8.col-lg-offset-2.himg
    .row
      .col-lg-8.col-lg-offset-2
        = render 'form'